:root {
    --topo: #1d1d1d;
    --medio-escuro: #3f3f3f;
    --medio-claro: #c0c0c0;
    --rodape: #e9e9e9;
    --colorido: #fa8072;
}   

header {
    background-color: var(--topo);
    padding: 3%;
    display: flex;
    justify-content: space-between; 
    align-items: center;    
}

header img {
    width: 5%;
    height: 5%;
}

header h1 {
    color: var(--medio-claro);
    font-size: 400%;
    letter-spacing: 0.5rem;
}

main {
    margin: 0 5% 0 5%;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    border-bottom: 1px solid var(--medio-claro);
}

.menu a {
    text-decoration: none;
    color: var(--medio-escuro);
    font-size: 24px;
    letter-spacing: 0.1rem;
}

.menu a:hover {
    color: var(--colorido);
    border-bottom: 1px solid var(--colorido);
    transition: all 0.3s;
}

.cabecalho {
    margin-top: 20px;
}

.cabecalho h1 {
    font-size: 32px;
}

.principal {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 500vh;
    margin-top: 20px;
}

.principal h2 {
    font-size: 46px;
    margin-top: 30%;
}

.principal p {
    font-size: 24px;
    color: var(--medio-escuro);
}



.junior {
    grid-row: 1 / 2;
}

.andreia {
    grid-row: 2 / 3;
}

.amanda {
    grid-row: 3 / 4;
}

.carol {
    grid-row: 4 / 5;
}

.anderson {
    grid-row: 5 / 6;
}




.texto-esquerda {
    display: grid;
    grid-template-columns: 40% 60%;
}

.texto-esquerda .galeria {
    grid-column: 2 / 3;
}

.texto-esquerda .texto {
    grid-column: 1 / 2;
}

.texto-esquerda h2 {
    margin-right: 20%;
}

.texto-esquerda p {
    margin-right: 20%;
}




.texto-direita {
    display: grid;
    grid-template-columns: 60% 40%;
}

.texto-direita .galeria {
    grid-column: 1 / 2;
}

.texto-direita .texto {
    grid-column: 2 / 3;
}

.texto-direita h2{
    margin-left: 20%;
}

.texto-direita p {
    margin-left: 20%;
}



.galeria {
    display: grid;
    grid-template-columns: repeat(16, 6%);
    grid-template-rows: repeat(8, 10%);
    gap: 0.5rem;
}

.item-galeria {
    overflow: hidden;
}

.img-galeria{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.item01 {
    grid-column: 1 / 8;
    grid-row: 4 / 8;
}

.item02 {
    grid-column: 8 / 16;
    grid-row: 4 / 8;
}

.item03 {
    grid-column: 1 / 6;
    grid-row: 1 / 4;
}

.item04 {
    grid-column: 6 / 12;
    grid-row: 1 / 4;
}

.item05 {
    grid-column: 12 / 16;
    grid-row: 1 / 4;
}

.galeria img {
    transform: 0.5s;
}

.galeria img:hover {
    transform: scale(1.2);
}



.galeria02 {
    display: grid;
    grid-template-columns: repeat(14, 7%);
    grid-template-rows: repeat(8, 10%);
    gap: 0.5rem;
}

.item01-galeria02 {
    grid-column: 1 / 6;
    grid-row: 1 / 8;
}

.item02-galeria02 {
    grid-column: 6 / 10;
    grid-row: 1 / 5;
}

.item03-galeria02 {
    grid-column: 6 / 10;
    grid-row: 5 / 8;
}

.item04-galeria02 {
    grid-column: 10 / 14;
    grid-row: 1 / 4;
}

.item05-galeria02 {
    grid-column: 10 / 14;
    grid-row: 4 / 8;
}

.galeria02 img {
    transform: 0.5s;
}

.galeria02 img:hover {
    transform: scale(1.2);
}



footer {
    margin-top: 2 rem;
    /* width: 100%; */
    /* height: 300px;    */
    display: grid;
    grid-template-rows: 85% 15%;
    height: 250px;
}

.rodape-info {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    letter-spacing: 0.1rem;
    
    background-color: var(--rodape);
    padding: 3%;
}

.rodape-info a {
    display: block;
    text-decoration: none;
    color: var(--medio-escuro);
    font-size: 18px;
    padding-top: 10px;
}

.rodape-info h2{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    color: var(--topo);
}

.rodape-info-menu {
    grid-column: 1 / 2;
}

.rodape-info-sobre {
    grid-column: 2 / 3;
}

.rodape-info-login {
    grid-column: 3 / 4;
}

.rodape-final {
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid var(--medio-escuro); */
    background-color: var(--medio-escuro);
    padding: 0.5% 3% 0.5% 3%;
    height: 50px;
}

.rodape-final-logo {
    height: 50px;
}

.rodape-final-redes-sociais {
    display: inline;
}

.rodape-final-redes-sociais img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}



.mais-fotos {
    margin-top: 20px;
}

.mais-fotos p {
    font-size: 24px;
    display: block;
    margin-bottom: 150px;
}

.mais-fotos b {
    font-weight: bold;
    color: var(--colorido);
}